/*

# Table of Contents
# Author: Eric Steinecke
# Version: 1.0

1. Font Imports
2. General Classes / Styles
3. Header Styles
4. Body Styles
5. Footer Styles
6. Media Queries

*/

/* ********** 1. Font Imports ********** */

@font-face {
    font-family:'Open Sans';
    src:local('Open Sans'),
        url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family:'Open Sans Semibold';
    src:local('Opan Sans Semibold'),
        url('../fonts/OpenSans-SemiBold.ttf');
    font-weight:bold;
}

@font-face{
    font-family:'Open Sans Extrabold';
    src:local('Open Sans Extrabold'),
        url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight:bolder;
}
@font-face{
    font-family:'Open Sans Light';
    src:local('Open Sans Light'),
        url('../fonts/OpenSans-Light.ttf');
    font-weight:lighter;
}
@font-face {
    font-family:'SS Pika';
    src:url('../fonts/ss-pika/ss-pika.otf') format('otf'),
        url('../fonts/ss-pika/webfonts/ss-pika.eot') format('eot'),
        url('../fonts/ss-pika/webfonts/ss-pika.svg') format('svg'),
        url('../fonts/ss-pika/webfonts/ss-pika.ttf') format('ttf'),
        url('../fonts/ss-pika/webfonts/ss-pika.woff') format('woff');
}

/* ********** 2. General Classes/Styles ********** */

.carrier {
    max-width:1320px;
    margin:0 auto;
}

.bg-lt-blue {
    background-color:#216ddf;
    color:#fff;
}

.bg-dk-blue {
    background-color:#083d8c;
    color:#fff;
}
.close {
    font-family:'SS Pika';
}

/* ********** 3. Header Styles ********** */

header {
    box-shadow:2px 0px 5px rgba(0,0,0,0.31);
    position:relative;
    z-index:3;
}

#pre-header ul {
    margin-bottom:0;
}

#pre-header li {
    margin:1em 2em;
    display:inline-block;
}

#pre-header li:last-child {
    margin-right:1em;
}

#pre-header img {
    height: 1.1em;
    vertical-align: text-bottom;
    margin-left:0.3em;
}

#pre-header a {
    color:#fff;
}

#header {
    padding: 2em 1em;
}

#header-logo {
    height:30px;
}

#header ul {
    height:30px;
}

#header li {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}

#header a {
    color:#083d8c;
}

#menu ul {
    margin-bottom:0;
}

#menu li {
    display:inline-block;
    list-style:none;
}

#menu a {
    font-weight: bold;
    font-size:15px;
}

#find-a-pool-pro {
    height:30px;
    padding-right:0;
}

#find-a-pool-pro a {
    padding:0.8em 1.6em;
}

#find-a-pool-pro div {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#find-a-pool-pro img {
    height:1.2em;
    vertical-align: text-bottom;
    margin-right:0.5em;
    transition:all 0.3s;
}

#find-a-pool-pro img.white-out {
    filter: brightness(500%) grayscale(100%);
    -webkit-filter: brightness(500%) grayscale(100%);
    transition:all 0.3s;
}

#find-a-pool-pro a {
    border:1.25px solid #216ddf;
    border-radius:3px;
    color:#216ddf;
    background-color:#fff;
    text-decoration: none;
    transition:all 0.3s;
}

#find-a-pool-pro a:hover {
    color:#fff;
    background-color:#216ddf;
    transition:all 0.3s;
}

#mobile-menu {
    display:none;
    position:absolute;
    width:100%;
    background:#fff;
    z-index:2;
}


#mobile-menu h3 {
    color:#01529e;
    font-weight:bold;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    font-size:1.2em;
    margin:1.5em 0 0;
}

#mobile-menu .close {
    color: #0bc9c8;
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}

#mobile-menu ul {
    padding:0;
    margin:0;
}

#mobile-menu li {
    list-style:none;
    margin:2px 0;
    background-color:#f6f6f6;
    display:block;
}

#mobile-menu a {
    font-family:'Open Sans Semibold';
    color:#000;
    text-decoration: none;
    padding:2em;
    display:block;
}

#mobile-menu a::after {
    content:'';
    background-image:url('../Rv Pool Pro Dev Test Assets/next-arrow.png');
    background-size:contain;
    background-repeat:no-repeat;
    float:right;
    display:inline-block;
    height:1.5em;
    width:1.5em;
}

/* ********** 4. Body Styles ********** */

body {
    width: 100%;
    min-height: 100%;
    font-family:'Open Sans',sans-serif !important;
    position:absolute;
}

body.modal-on {
    overflow:hidden;
}

#background {
    height:12em;
    background-image: url('../RV Pool Pro Dev Test Assets/water-image.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom:-2.1%;
}

#stage {
    margin-bottom:12em;
}

/* Search bar */

#search-bar {
    background-color:#f6f6f6;
    border-radius:10px;
    padding:1em;
}

#search-bar span, #filter-toggle label {
    font-size:1.2em;
    font-weight:bold;
    font-family:'Open Sans',sans-serif;
}

#result-count, #filter, #filter-toggle, #filter ul, #tooltip {
    display:inline-block;
}

#result-count span {
    color:#216ddf;
}

#filter li {
    list-style: none;
    display:inline-block;
    text-align:left;
}

#filter, .input-container, #modal .input-container {
    display:inline-block;
}

#filter .input-container.checked::before {
    border:8px solid #216ddf;
    transition:border 0.1s;
}

#filter .input-container::before {
    display:inline-block;
    content:'';
    height:1.6em;
    width:1.6em;
    background:#fff;
    border-radius:5px;
    border:1px solid #d8d8d8;
    position:relative;
    top:0.5em;
    left:3em;
    transition:border 0.1s;
}

#filter li:nth-child(1) > div:nth-child(1)::before {
    left:1em;
}

#filter input[type="checkbox"] {
    margin:0 2em;
}

#filter input#service {
    margin-left:0;
}

#filter label {
    font-size:12px;
}

#tooltip img {
    height:1.5em;
    width:1.5em;
    margin-left:0.5em;
}

#tooltip::after {
    content:"Select the boxes to filter pros for your area!";
    border-radius: 3px;
    display:inline-block;
    background:#fff;
    color:#216ddf;
    transform:translate(0.5em, -60%);
    -ms-transform:translate(0.5em, -60%);
    -webkit-transform:translate(0.5em, -60%);
    font-size:12px;
    opacity:0;
    position:absolute;
    width:0;
    overflow:hidden;
    font-weight:bold;
}

#tooltip:hover::after {
    opacity:1;
    padding:1em;
    width:auto;
    border:1px solid #216ddf;
    transition:opacity 0.2s;
}

/* Results */

#results .result {
    text-align: center;
    margin-top:2em;
}

.result article {
    padding:1em;
    box-shadow:0 2px 5px rgba(0,0,0,0.31);
    border-radius: 10px;
    margin: 0 -5px;
}

.result .title {
    font-family:'Open Sans Light';
    font-size:2em;
    height:70px;
}

.title h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.result hr {
    background-color:#f6f6f6;
    margin:2em 0;
}

.result .md-phone-img {
    height:2em;
    width:2em;
    margin-right:1em;
    vertical-align: text-bottom;
}

.result .md-phone {
    font-family:'Open Sans Extrabold';
    font-size:1.9em;
}

.result .sm-phone-img {
    height: 3em;
    margin-right: 0.5em;
}

#mobile-phone a {
    font-family: 'Open Sans Extrabold';
    text-decoration: none;
    font-size: 0.7em;
    padding: 1.5em 0.8em;
    color: #fff;
    border-radius:2px;
}

#mobile-phone div {
    display:inline-block;
    transform:translateY(3px);
    -ms-transform:translateY(3px);
    -webkit-transform:translateY(3px);
}

#mobile-phone .sm-phone {
    font-size: 2em;
    margin-left: 0.25em;
}

.result p {
    margin: 1em;
    font-style: italic;
    font-size: 0.85em;
}

.contact-link {
    margin:2.5em;
}

.contact-link a {
    color: #083d8c;
    font-family: 'Open Sans Extrabold',sans-serif;
    padding: 1em;
    border: 1.25px solid #02c7c6;
    border-radius: 3px;
    background:#fff;
    transition:background 0.2s;
}

.contact-link a:hover {
    background:#02c7c6;
    text-decoration: none;
    transition:all 0.2s;
}

.contact-link img {
    height: 1.1em;
    margin-right: 1em;
}

.business-hours {
    margin:2em;
}

.business-hours h5 {
    font-family:'Open Sans Extrabold';
    font-size:1.2em;
}

.certifications {
    background:#f6f6f6;
    padding:1em;
    text-align: center;
    margin:0 -1em -1em;
    min-height: 96px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.certifications ul {
    column-count:2;
    margin:1em;
    display:inline-block;
    padding-left:0;
}

.certifications li {
    list-style: none;
    text-align: left;
}

.cert-icon::before {
    content:"";
    background-size: 100%;
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

[data-cert="Installation Pro"]::before {
    background-image:url('../RV Pool Pro Dev Test Assets/star-installation-pro.png');
}

[data-cert="Service Pro"]::before {
    background-image:url('../RV Pool Pro Dev Test Assets/gear-service-pro.png');
}

[data-cert="Residential Pro"]::before {
    background-image:url('../RV Pool Pro Dev Test Assets/home-residential-pro.png');
}

[data-cert="Commercial Pro"]::before {
    background-image:url('../RV Pool Pro Dev Test Assets/users-commercial-pro.png');
}

/* Modal */

#modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.0);
    transition:all 0.3s;
    z-index:-1;
    opacity:0;
}

#modal.on {
    display:block;
    background:rgba(0,0,0,0.6);
    z-index:3;
    opacity:1;
    transition:all 0.3s;
}

#modal-toggle {
    width:100%;
    height:100%;
    position:absolute;
}

#modal #modal-box {
    position: relative;
    background: #fff;
    top: 50%;
    max-width: 700px;
    margin: 0 auto;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    max-height:800px;
    overflow-y:scroll;
}

#modal-header, #modal-body {
    padding:2em;
}

#modal-header .close {
    color:#fff;
    opacity:1;
    margin: -0.5em;
}

#modal form {
    background-color:#f6f6f6;
    padding:2em;
    margin:2em 0;
}

#modal label {
    display: block;
    margin-bottom: 0.5em;
}
#modal label::after {
    content:'optional';
    font-style:italic;
    float:right;
    color:#bebebe;
}
#modal label[data-validate="true"]::after {
    display:inline;
    background:url('../RV Pool Pro Dev Test Assets/checkmark-circle.png');
    background-size:cover;
    float:right;
    height:1.5em;
    width:1.5em;
    content:'';
}

#modal label[data-validate="false"]::after {
    display:inline;
    background:url('../RV Pool Pro Dev Test Assets/circle-form.png');
    background-size:cover;
    float:right;
    height:1.5em;
    width:1.5em;
    content:'';
}

#modal input, #modal textarea {
    padding: 0.8em;
    width: 100%;
    border: 1px solid #d8d8d8;
    margin-bottom: 1em;
}

#modal textarea {
    min-height:6em;
    max-width:100%;
    min-width:100%;
}

#email-phone {
    max-width:250px;
}

#email-disclosure {
    background: #f6f6f6;
    margin:0 -2em -2em;
    padding: 2em;
    font-size:12px;
}

#modal hr {
    border-color:#d8d8d8;
}

#modal [type="submit"] {
    background: none;
    border: none;
    font-weight: bold;
    padding:1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

/* ********** 5. Footer Styles ********** */

footer {
    padding-top:2em;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#footer-logo {
    max-width:200px;
}

#social-media {
    color: #fff;
    font-weight: bold;
    margin: 1em;
}

#social-media a {
    margin: 0 0.5em;
    text-decoration:none;
}

#social-media a:first-child {
    margin-left:2em;
}

#social-media img {
    height: 1.2em;
}

#post-footer {
    padding: 0.7em 0;
    color: #fff;
    font-size: 12px;
}

#post-footer a {
    color:#fff;
    margin:0.5em 1em;
    display:inline-block;
}

#post-footer img {
    height: 0.9em;
    margin-left: 0.5em;
}

#post-footer hr {
    border: none;
    height: 1px;
    background: #fff;
    width: 338px;
    margin: 0 auto;
}

#copyright {
    margin: 0.5em 1em;
    display:inline-block;
}

/* ********** 6. Media Queries ********** */

@media (max-width:410px) { /*A couple weird things for ultra small screens */
    #search-bar #filter-toggle {
        float:none;
    }
    
    #search-bar > #filter > ul {
        margin-top:0;
    }
}

@media (max-width:767px) {
    #results .result {
        margin-top:0;
    }
    .result article {
        border-radius:0;
    }
    
    #modal #modal-box {
        margin:0 2em;
    }
}

@media (max-width:991px) {
    #header {
        padding:1em;
    }
    
    #header-logo, #find-a-pool-pro {
        height:25px;
    }
    
    #menu-toggle {
        width: 60px;
        position: absolute;
        transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        cursor: pointer;
    }

    #menu-toggle img {
        width:100%;
    }
    
    #mobile-menu {
        display:block;
        width:100%;
        max-height:0;
        overflow:hidden;
        transition:max-height 0.5s;
    }
    
    #mobile-menu.open {
        max-height:600px;
        transition:max-height 0.5s;
        box-shadow:0 5px 0.5em rgba(0,0,0,0.31);
    }
    
    #mobile-menu div {
        width: 100%;
        position: relative;
        padding: 2em;
        border-top:0.5em solid #0bc9c8;
    }
    
    #mobile-menu li:last-child {
        border-bottom:0.5em solid #0bc9c8;
        margin-bottom:0;
    }
    
    #find-a-pool-pro a {
        padding:0.6em;
        text-transform: uppercase;
        font-family: 'Open Sans Extrabold';
        border-width: 1.5px;
        font-size: 0.9em;
    }
    #find-a-pool-pro img {
        height: 1.4em;
    }
    #background {
        margin-bottom: -2.7em;
    }
    #filter{
        display:inline;
        background:#fff;
        width:100%;
    }
    #filter-toggle {
        border: 1px solid #d8d8d8;
        display:inline-block;
        float:right;
    }
    #filter-toggle label {
        background: #fff;
        padding: 0.8em;
        margin-bottom: 0;
        border-right: 1px solid #d8d8d8;
    }
    .dropdown {
        font-family:'SS Pika';
        padding:1em 1.7em;
        color:#000;
        text-decoration: none;
        font-size:0.8em;
    }
    .dropdown:hover, .dropdown:focus {
        color:#000;
        text-decoration: none;
    }
    #filter ul {
        background: #fff;
        padding: 0.5em 1.8em;
        border: 1px solid #d8d8d8;
        text-align: left;
        display:block;
        margin-top: -0.3em;
        max-height:400px;
        width:100%;
        transition: all 0.5s;
    }
    
    #filter ul.hideToggle {
        max-height:0;
        overflow-y:hidden;
        border-color:#f6f6f6;
        padding:0 1.8em;
        transition:all 0.5s;
    }
    
    
    #filter li {
        display:list-item;
    }
    #filter li:last-child, #filter li:nth-child(4) {
        display:inline;
    }
    
    #filter .input-container::before {
        left:1em;
    }
    
    #filter input[type="checkbox"] {
        margin:1.7em 1.5em 1.7em 0;
    }
    #filter label {
        font-size: 16px;
        font-weight: lighter;
        vertical-align: sub;
    }
    #result-count span {
        margin-right: 1em;
        padding:0.8em;
        float:left;
    }
    #results {
       margin:0 2em;
    }
    .title h2 {
        font-size:0.8em;
    }
    
    #modal input[name="own-pool"] {
        display:inline-block;
        margin:0 -1em 2em;
        width:auto;
    }
    
    #modal .input-container::before {
        display: inline-block;
        content: '';
        height: 1.6em;
        width: 1.6em;
        background: #d8d8d8;
        border: 1px solid #000;
        position: relative;
        top: 0.3em;
        transition: background 0.1s, border 0.1s;
    }
    
    #modal .input-container.checked::before {
        border: 7px solid #216ddf;
        background:#fff;
        transition: background 0.1s, border 0.1s;
    }
    #modal label[for="pool-yes"], #modal label[for="pool-no"] {
        display: inline-block;
        margin: 0 1em 0 2em;
    }
    #modal label[for="pool-yes"]::after, #modal label[for="pool-no"]::after {
        content:'';
    }
    
    #modal [type="submit"] {
        color:#02c7c6;
        left: 100%;
        transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        -webkit-transform: translateX(-80%);
    }
}

@media (min-width:992px) {
    #header li {
        margin:0 1em;
    }
    #result-count span::after {
        content: "";
        display: inline-block;
        margin: 0 1.8em;
        border: 1px solid #ececec;
        background: #ececec;
        height: 3em;
        vertical-align: middle;
    }
    .dropdown {
        display:none;
    }
    
    #modal input[name="own-pool"] {
        display:inline-block;
        width:70px;
        margin-bottom:2em;
        cursor: pointer;
    }

    #modal input[name="own-pool"]:nth-child(11) {
        margin-left:0.5em;
    }

    #modal .input-container::before {
        content:'';
        display:block;
        padding:0.5em;
        border:1.25px solid #000;
        border-radius: 3px;
        background:#fff;
        color:#000;
        transition:background 0.3s, color 0.3s;
        text-align: center;
        cursor: pointer;
        transform: translateY(50%);
        -ms-transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }
    
    #modal .input-container:nth-child(10)::before {
        content:'Yes';
    }
    
    #modal .input-container:nth-child(11)::before {
        content:'No';
    }

    #modal .input-container.checked::before {
        color:#fff;
        background:#02c7c6;
        transition:all 0.3s;
    }
    
    #modal [type="submit"]::after {
        content: '';
        background: url('../RV Pool Pro Dev Test Assets/next-arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 1em;
        width: 1em;
        margin-left: 0.7em;
        display: inline-block;
        transition:all 0.2s;
    }

    #modal [type="submit"]:hover::after {
        transform:translateX(5px);
        -ms-transform:translateX(5px);
        -webkit-transform:translateX(5px);
        transition:all 0.2s;
    }
}